@model Money_Transformer.Models.VisaCard

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>VisaCard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CardNum" class="control-label"></label>
                <input asp-for="CardNum" class="form-control" />
                <span asp-validation-for="CardNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExDate" class="control-label"></label>
                <input asp-for="ExDate" class="form-control" />
                <span asp-validation-for="ExDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HolderName" class="control-label"></label>
                <input asp-for="HolderName" class="form-control" />
                <span asp-validation-for="HolderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cvv" class="control-label"></label>
                <input asp-for="Cvv" class="form-control" />
                <span asp-validation-for="Cvv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
